<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">
<!--声明bean，告诉spring创建某个对象
class:类的全限定名称，不能是接口
spring就完成了创建对象，把创建好的对象放在spring框架中的map，用来存储对象的
 springMap.put(id的值，对象);
一个bean标签声明一个对象-->

    <bean id="someService" class="com.sunyun.impl.SomeServiceImpl"></bean>
    <bean id="mydate" class="java.util.Date"></bean>
</beans>